@import "_nullstyle";
@import "_fonts";
@import "_snipets";
@import "_slider.scss";
@import url(https://fonts.googleapis.com/css?family=Days+One:regular);

$green: #36A74C;
$grey: #7A7171;
$white: #FFF;
$black: #000;

body {
	font-family: 'Days One', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0;
	color: $grey;
}
h1,h2,h3,h4,h6{
}

[class*="__btn"]{
	display: inline-block;
	color: $white;
	background: $green;
	padding: 25px 105px;
	text-transform: uppercase;
	border-radius: 100px;
}

[class*="__container"]{
	max-width: 1440px;
	margin: 0 auto;
	padding-inline: 70px;
}


.header {
	padding-block: 23px;
	margin-bottom: 39px;
	&__container {
		display: grid;
		grid-template-columns: 136px 1fr 203px;
		justify-content: space-between;
		align-items: end;
	}
	&__logo {
		position: relative;
		height: 47px;
	}
	&__logo img{
		@extend %abs-img;
	}
	&__menu {
	}
	&__menu-ul {
		display: flex;
		justify-content: center;
		column-gap: 50px;
		padding-left: 68px;
	}
	&__menu-li {
		font-size: 16px;
	}
	&__socials {
		display: flex;
		flex-flow: row nowrap;
		column-gap: 15px;
	}
	&__img{
		position: relative;
		flex: 0 0 40px;
		height: 40px;
	}
	&__img img{
		@extend %abs-img;
	}
	&__burger{position: relative;
		display: none;
		flex: 0 0 40px;
		height: 40px;
		padding: 8px 2px;
		cursor: pointer;
	}
	&__burger span{
		height: 3px;
		width: 35px;
		background-color: $green;
	}
	&__burger-checkbox{
		@extend %abs-100;
		opacity: 0;
	}
	&__burger-checkbox:checked{
		// opacity: 1;
	}
	&__container:has(&__burger-checkbox:checked) &__menu{
		display: block;
	}
	&__burger:has(&__burger-checkbox:checked){
		position: relative;
		span{
			background-color: $white;
			position: relative;
		}
		span:nth-child(1){
			position: absolute;
			transform: rotate(45deg);
			top: 16px;
			left: 6px;
		}
		span:nth-child(2){
			opacity: 0;
		}
		span:nth-child(3){
			position: absolute;
			transform: rotate(-45deg);
			top: 16px;
			right: -1px;
		}		
	}

}



/* Site title*/
.site-title {
	margin-bottom: 39px;;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title:not(:last-child) {
		margin-bottom: 28px;
	}
	&__title {
		font-size: 64px;
		line-height: 82px;;
		color: $grey;
	}
	&__title span{
		color: $green;
	}
	&__subtitle{
		max-width: 524px;
		text-align: center;
		font-size: 18px;
		line-height: 41px;

	}
	&__subtitle {
	}
}

// Gallery

.slider-navs {
	display: none;
	&__nav{
		width: 15px;
		height: 15px;
		background-color: $grey;
		border-radius: 100%;
	}
	&__nav input{
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	&__nav:has(input:checked){
		background-color: $green;
	}
}
@include slider(180px, 1s);

.gallery {
	margin-bottom: 46px;
	&__item:has(input:checked)::before{
		background: 0;
		z-index: 10;
	}
	&__item:has(input:checked){
		z-index: 10;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.40);
	}
	&__container {
	}
	&__images{
		transform: translateX(0px);
		position: relative;
		height: 282px;
	}
	&__item::before {
		content: '';
		@extend %abs-100;
		background: rgba(255, 255, 255, 0.40);
		z-index: 20;
	}
	&__item {
		position: absolute;
		z-index: 2;
		transition-duration: .25s;
	}
	&__item img{
		border-radius: 10px;
		@extend %abs-img;
	}
	&__item input{
		position: absolute;
		@extend %abs-100;
		opacity: 0;
	}
	&__item:nth-child(1) {
		left: 0px;
		top: 0px;
		height: 50.35461%; /* 142/282 */
		width: 8.993082%; /* 117/1301 */
		// height: 142px;
		// width: 117px;
	}
	&__item:nth-child(2) {
		left: 0px;
		top: 58.156028%; /* 164/282 */
		height: 41.843972%; /* 118/282 */
		width: 7.455803%; /* 97/1301 */
	}
	&__item:nth-child(3) {
		left: 6.302844%; /* 82/1301 */
		top: 13.475177%; /* 38/282 */
		height: 63.829787%; /* 180/282 */
		width: 11.375865%; /* 148/1301 */
		z-index: 1;
	}
	&__item:nth-child(4) {
		left: 14.834743%; /* 193/1301 */
		top: 50.35461%; /* 142/282 */
		height: 49.64539%; /* 140/282 */
		width: 8.839354%; /* 115/1301 */
		// height: 140px;
		// width: 115px;
	}
	&__item:nth-child(5) {
		left: 18.524212%; /* 241/1301 */
		top: 0px;
		height: 70.567376%; /* 199/282 */
		width: 12.605688%; /* 164/1301 */
		// height: 199px;
		// width: 164px;
		z-index: 1;
	}
	&__item:nth-child(6) {
		left: 29.900077%; /* 389/1301 */
		top: 17.375887%; /* 49/282 */
		height: 82.624113%; /* 233/282 */
		width: 14.142967%; /* 184/1301 */
		// height: 233px;
		// width: 184px;
	}
	&__item:nth-child(7) {
		left: 42.044581%; /* 547/1301 */
		top: 8.510638%; /* 24/282 */
		height: 50.35461%; /* 142/282 */
		width: 8.993082%; /* 117/1301 */
		// height: 142px;
		// width: 117px;
	}
	&__item:nth-child(8) {
		left: 49.192929%; /* 640/1301 */
		top: -1.77305%; /* -5/282 */
		height: 99.64539%; /* 281/282 */
		width: 17.524981%; /* 228/1301 */
		// height: 281px;
		// width: 228px;
	}
	&__item:nth-child(9) {
		left: 66.256726%; /* 862/1301 */
		top: 6.737589%; /* 19/282 */
		height: 70.567376%; /* 199/282 */
		width: 12.605688%; /* 164/1301 */
		// height: 199px;
		// width: 164px;
		z-index: 1;
	}
	&__item:nth-child(10) {
		left: 72.55957%; /* 944/1301 */
		top: 38.652482%; /* 109/282 */
		height: 61.702128%; /* 174/282 */
		width: 10.914681%; /* 142/1301 */
		// height: 174px;
		// width: 142px;
	}
	&__item:nth-child(11) {
		left: 77.248271%; /* 1005/1301 */
		top: 6.737589%; /* 19/282 */
		height: 52.48227%; /* 148/282 */
		width: 9.300538%; /* 121/1301 */
		// height: 148px;
		// width: 121px;
		z-index: 1;
	}
	&__item:nth-child(12) {
		left: 86.164489%; /* 1121/1301 */
		top: 0px;
		height: 79.078014%; /* 223/282 */
		width: 13.835511%; /* 180/1301 */
		// height: 223px;
		// width: 180px;	}
	}
	&__item:nth-child(13) {
		left: 88.700999%; /* 1154/1301 */
		top: 49.64539%; /* 140/282 */
		height: 50.35461%; /* 142/282 */
		width: 8.993082%; /* 117/1301 */
		// height: 142px;
		// width: 117px;
	}
}

/* Contect form*/
.contact {
	margin-bottom: 120px;
	&__form {
		max-width: 856px;
		height: 430px;
		margin: 0 auto;
		background-color: $green;
		border-radius: 30px;
		padding: 50px 190px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-transform: uppercase;
		filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
	}
	&__title {
		line-height: 28px;
		color: $white;
		text-align: center;
	}
	&__label {
		font-size: 18px;
		@extend %flex-center;
		height: 70px;
		background-color: $white;
		border-radius: 100px;
		color: #C9C9C9;
		text-align: center;
		text-transform: uppercase;
	}
	&__label:last-child{
		color: $green;
		cursor: pointer;
		text-transform: uppercase;
	}
}

/* Articles */
.articles {
	margin-bottom: 48px;
	&__container {
	}
	&__articles__picture {
		position: relative;
	}
	&__articles__picture img{
		@extend %abs-img;
		flex-basis: 192px;
	}
	&__article:not(:last-child) {
		margin-bottom: 70px;
	}
	&__article {
		display: flex;
		column-gap: 67px;
	}
	&__article:nth-child(even){
		justify-content: space-between;
	}
	&__article:nth-child(even) &__picture{
		order: 2;
	}
	&__items{
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
	&__article p{
	}
}
.articles-2{
	margin-bottom: 120px;
}
.text-gallery {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		line-height: normal;
		text-align: center;
		background: url(/img/article_05.png) lightgray 50% / cover no-repeat;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.text-gallery {
	margin-bottom: 44px;
	&__title {
		font-size: 96px;
	}
}

.our-team {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background: url(/img/our-team-fone.png) bottom no-repeat;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		text-transform: uppercase;
	}
	&__title span{
		color: #36A74C;
	}
	&__subtitle {
		text-align: center;
	}
	&__photo {
		position: relative;
		// z-index: 1;
	}
	&__photo img{
		@extend %abs-img;
		object-fit: unset;
	}
	&__fone {
		position: absolute;
		bottom: 43px;
		z-index: -1;
		width: 100%;
		height: 474px;
	}
	&__fone img{
		width: 100%;
		object-fit: cover;
	}
	&__back{
		position: absolute;
		text-transform: uppercase;
		font-size: 144px;
		color: rgba(122, 113, 113, 0.05);
	}
}
.our-team {
	background-size: 100% 474px;
	&__title {
		font-size: 36px;
		margin-bottom: 44px;
	}
	&__subtitle {
		max-width: 525px;
		font-size: 18px;
		line-height: 34px;
		padding-left: 16px;
		margin-bottom: 35px;
	}
	&__photo {
		width: 983px;
		height: 458px;
		margin-left: -50px;
	}
	&__back{
		font-size: 144px;
		top: 25%;
	}
}

/* Footer */
.footer {
	background-color: $green;
	overflow: hidden;
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__left {
		position: relative;
	}
	&__form {
		margin: 0 auto;
		background-color: $white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-transform: uppercase;
	}
	&__title {
		color: $green;
		text-align: center;
	}
	&__label[type="submit"] {
		background-color: $green;
		color: $white;
		cursor: pointer;
	}
	&__label {
		@extend %flex-center;
		background-color: $white;
		border: $green 1px solid;
		color: $grey;
		text-align: center;
		text-transform: uppercase;
	}	
	&__left::after {
		content: "Agro Practice";
		position: absolute;
	}	
	&__right {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__rtitle {
		color: $white;
	}
	&__socials {
		display: flex;
	}
}
.footer {
	padding-block: 108px;
	&__container {
		column-gap: 20px;
	}
	&__form {
		width: 524px;
		height: 430px;
		border-radius: 30px;
		padding: 50px 87px;
		filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
	}
	&__title {
		line-height: 28px;
	}
	&__label {
		height: 70px;
		border-radius: 100px;
		font-size: 18px;
	}	
	&__right {
		flex: 0 1 591px;
		row-gap: 43px;
		margin-top: -25px;
	}
	&__rtitle {
		font-size: 36px;
	}
	&__socials {
		column-gap: 1px;
		margin-left: -10px;
	}
	&__left::after {
		left: 508px;
		bottom: -43px;
		width: 775px;
		height: 350px;
		color: rgba(255, 255, 255, 0.10);
		font-size: 144px;	
	}	

}

@import "_media";